<div class="container">
  
  <table class="table table-dark"> <!--Utilizando Bootstrap para por estilo na tabela-->
    
    <thead>

      <tr>
        <th scope="col">ID</th> 
        <th scope="col">Nome</th>
        <th scope="col">RU</th>
        <th scope="col">Nome do curso</th>
        <th scope="col">Data de nascimento</th>
      </tr>

    </thead>

    <!-- Corpo da tabela, usando um loop for para exibir todos os dados do atributo 'students' -->
    <tbody *ngFor="let student of students">

      <tr>
        <!-- Exibição dos dados de cada aluno -->
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.RU }}</td>
        <td>{{ student.course }}</td>
        <td>{{ student.birthdate }}</td>
      </tr>

    </tbody>

  </table>

</div>