@import '~bootstrap/dist/css/bootstrap.min.css';

/* Aplicando um background para dar cor a página estática */
body {
    background-color: #05051a;
    color: rgb(252, 252, 252);
}

/*Centralizando titulo h1*/
.title {
    text-align: center;
}
